body {
  background: rgba(0, 0, 0, 0.7) url(food.jpg);
  margin: 0 auto;
  color: orangered;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
}

main {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main p {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2.5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 25px;
  font-weight: 700;
}

li {
  list-style: none;
}

.a:hover,
.login:hover,
.logout:hover {
  padding: 5px;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}
.a,
.login,
.logout {
  text-decoration: none;
  color: orangered;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.title-head {
  background-color: rgba(28, 25, 25, 0.5);
  box-shadow: 0 3px 20px rgb(79, 76, 76);
  margin: 0 auto;
}
.images {
  width: 250px;
  height: 150px;
  max-width: 100%;
  border-radius: 10%;
}

.container,
.container2,
.container3 {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 30px auto;
  border: 2px solid rgb(187, 183, 183);
  width: 90%;
  padding: 20px;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.tiffin,
.lunch,
.dinner {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
.title {
  margin: 0;
  padding: 10px;
  font-size: 40px;
}
.tiffin-title,
.Lunch-title,
.Dinner-title {
  font-size: 50px;
}
.box {
  padding: 10px;
  background-color: rgb(7, 7, 7) transparent;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(161, 160, 160);
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-nav {
  width: 200px;
  background-color: rgb(36, 33, 33) transparent;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  right: 30px;
}

.navigation {
  width: 80%;
  margin: 0 auto;
}

.t .arrow {
  font-size: 20px;
  background-color: black transparent;
  border-radius: 30px;
  border: 2px solid orangered;
  padding: 5px;
  color: orangered;
}

.nav-toggle {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 30px;
  border: 0;
  transition: opacity 250ms ease;
  padding: 0;
  display: none;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  background-color: orangered;
  height: 3px;
  margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.p3,
.p1,
.p2 {
  font-size: 5em;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.p3 a,
.p1 a,
.p2 a {
  text-decoration: none;
  color: white;
}

.form1,
.form2,
.form3 {
  max-width: 100%;
  border: 2px solid black;
  padding: 50px;
  margin: 0 auto;
  width: max-content;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  display: none;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.form-visible {
  display: block;
}
label,
input {
  font-size: 30px;
}

.usernameBox input {
  color: white;
}

input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  color: black;
}
.btn1,
.btn2,
.btn3 {
  padding: 0.5em 3em;
  font-size: 1.5em;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
}
.p1 {
  color: orangered;
  font-size: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.usernameBox {
  position: relative;
  max-width: 55%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 40px auto;
  color: white;
  display: none;
}

.xmark {
  position: absolute;
  right: 20px;
  top: 0px;
  cursor: pointer;
  font-size: 40px;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.username,
.email {
  width: 80%;
  position: absolute;
  background-color: transparent;
}

.username {
  background-color: transparent;
  border: 2px solid rgb(189, 178, 178);
}
.submitBtn {
  /* max-width: 100%; */
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.Welcome_title {
  text-align: left;
}

@media (max-width: 750px) {
  .nav-toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 13px;
  }
  .nav2 {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav-visi {
    visibility: visible;
    position: relative;
    height: auto;
  }
  .nav {
    display: block;
    text-align: center;
  }
  .nav2 {
    width: 100%;
  }
  .nav-item {
    display: block;
    margin: 0 auto;
  }
  li {
    padding: 10px;
  }
}
